@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FDF8EC;
    --heading-color: #00001A;
    --font-color-menu: #5E607A;
    --color-btn: #F15E50;
    --list-head-color: #C5C6CE;
    --hover-color: #E9AB53;
    --news-color: #C5C6CE;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* width: 100%; */
}

.logo img {
    width: 45px;
    height: 28px;
}

/* Hamburger menu styling */
.hamburger-menu {
    display: block;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 16px;
    position: relative;
}

.menu-icon span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    transition: 0.3s; 
    box-shadow: 0px 0px 2px #000;
}

.menu-icon span:nth-child(1) { 
    top: 0; 
}

.menu-icon span:nth-child(2) { 
    top: 8px; 
    width: 15px;   
}

.menu-icon span:nth-child(3) { 
    top: 16px; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease; 
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

.menu {
    background: #f9f3e6;
    width: 60%; 
    /* max-width: 300px; */
    height: 100%;
    padding: 2rem;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out; 
    transform: translateX(100%);
}

.menu ul {
    list-style-type: none;
    padding: 0; /* Remove padding */
}

.menu ul li {
    margin-block: 2rem;
}

.menu a {
    color: var(--font-color-menu);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.menu a:hover {
    color: var(--hover-color);
}

/* Checkbox hack */
#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
}

#menu-toggle:checked ~ .overlay .menu {
    transform: translateX(0);
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    z-index: 12;
    transition: color 0.3s;
}

/* Billboard styles */
.billboard {
    margin: 16px;
}

.billboard__image img {
    max-width: 100%;
}

.billboard__heading {
    padding-block: 20px;
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    color: var(--heading-color);
}

.billboard__desc {
    display: flex;
    flex-wrap: wrap;
}

.billboard__desc p {
    color: var(--font-color-menu);
    line-height: 26px;
    font-size: 15px;
    padding-bottom: 30px;
}

.btn {
    background-color: var(--color-btn);
    padding: 12px 30px; 
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--heading-color);
}

/* List styles */
#listing {
    margin: 60px 16px;
    
}

.list {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-block: 30px;
}

.list__image img {
    max-width: 100px;
}

.list__desc {
    padding-left: 15px;
    max-width: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align to the left */
    line-height: 30px;
}

.list__desc h2 {
    font-size: 30px;
    color: var(--list-head-color);
    padding-bottom: 10px;
}

.list__desc p {
    font-size: 14px;
    color: var(--font-color-menu);
}

.list__desc h3 {
    cursor: pointer;
}

.list__desc h3:hover {
    color: var(--hover-color);
}

/* News styles */
.news {
    margin-inline: 16px;
    background-color: var(--heading-color);
    padding: 40px 20px;
}

.news h2 {
    color: var(--hover-color);
    font-size: 30px;
}

.news h2:hover {
    color: var(--font-color-menu);
}

.news h3 {
    color: #fff;
    cursor: pointer;
}

.news h3:hover {
    color: var(--hover-color);
}

.news p {
    color: var(--news-color);
    font-size: 14px;
}

.news__desc {
    margin-block: 30px;
    line-height: 2;
}

/* For larger screens */
@media screen and (min-width: 768px) {
    body {
        max-width: 100%;
        margin-inline: 100px; 
        display: grid;
        grid-template-columns: 1fr 350px;
        grid-template-rows: auto auto auto ;
        gap: 10px;
    }
    header{
        grid-column: 1/-1;
    }

    .billboard__image img{
        width: 892px;
        height: 300px;
        object-fit: cover;
    }

    .billboard__content{
        display: flex;
        justify-content: space-between;
        align-items:center;
        /* max-width: 350px; */
        flex-wrap: wrap;
        padding-block: 20px;
    }

    .billboard__heading{

        max-width: 350px;
    }
    .billboard__desc{
        max-width: 350px;
        padding-right: 40px;
        
    }
    .billboard__heading h2{
        font-size: 56px;
        line-height: 56px;
    }

    #listing{
        grid-row: 3/-1;
        grid-column: 1/-1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
        margin-top: 20px;
    }

    .list__desc{
        padding-left: 15px;
        min-width: 226px;
    }

    .news{
        margin-top: 16px;
        grid-area: 2 / 3 / -2 / -1; 
    }
    

    .logo img {
        width: 65px;
        height: 40px;
    }

    .menu-icon,
    .close-icon {
        display: none; /* Hide icons on larger screens */
    }
    
    /* Overlay and menu styling for desktop */
    .overlay {
        /* display: flex; */
        position: static; 
        background: none; 
        width: auto;
        height: auto;
        visibility: visible; 
        opacity: 1; 
    }

    .menu {
        
        background: transparent; 
        width: auto;
        padding: 0;
        box-shadow: none; 
        transform: none; 
    }

    .menu ul {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    
        gap: 30px;
        
    }

    .menu a {
        font-size: 16px;
        /* padding: 20px; */
    }

}
